
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EFECF5!important;
}
.StartPage-link{
    color: aliceblue;
    text-decoration: none;
}


.startPage-block{

    border-radius: 50px;
    min-height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #EFECF5;
    box-shadow: 10px 10px 21px #d3d3d6,
                -10px -10px 21px #fff;
}

.startPage-block p {
    margin-top: 50px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: #f0f0f3; */
    background-color: #EFECF5;

}

.authBtns{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.btn{
    background-color: #FFBC5B;
    margin: 10px;
    width: 200px;
    
}

.btn:hover {
    background-color: #f9d29a;
}

.title{
    color: white;
    background-color: #4520ab;
        font-family:'Courier New', Courier, monospace;
}

.p1{
    font-size: 26px;
    font-family: system-ui;
      color: #4520ab;
}

.top{
    background-color: #EFECF5;
    color: #4520ab;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-family: system-ui;
}

.top h1 {
    font-size: 70px;
    background-color: #EFECF5;
}










.body {
   height: 100%;
   background-color: #efecf5;
   margin: 0px;
}

.header {
   text-align: center;
   padding-top: 80px;
   font-size: 60px;
   font-family: system-ui;
   color: #4520ab;
}



.container {

   width: 500px;


}

.btn1 {
   background-color: #FFBC5B;
   width: 480px;
   height: 60px;

}

/* стили новостной ленты */

.inputsContainer{
    margin-left: 850px;
}

.news {
    margin-left: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

.newsBlock{
    background-color: #EFECF5;
    box-shadow: 10px 10px 21px #d3d3d6,
                -10px -10px 21px #fff;
    margin-top: 20px;            
}

.topWright{
    display: flex;
    align-items: center; 
    justify-content: center;

}

.parentNewsBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

}

.plusTag{
    display: flex;
    align-items: center;
    margin: left 500px ;
}